<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Hi {{userName}},</h2>

    <div class="">
        We received a request to reset your password for your Bukguide.com account. This request was made on {{date}}.
    </div>
    <div class="">
        To complete the process, please copy the following token into the request field on the website:
    </div>
    <div style="color: blue;">
        {{token}}
    </div>
    <div class="">
        This token will expire in 10 minute.
    </div>
    <h2 style="color: red;">
        Do not share this link with anyone. Anyone with this link can reset your password.
    </h2>
    <div class="">
        If you did not request a password reset, please ignore this email.
    </div>
    <div class="">
        Thanks,
    </div>
    <div class="">
        The Bukguide Team
    </div>
</body>

</html>